<html>
<head>
<title>Mailroom</title>
</head>
<body>
    <nav>
        <a href="/add">Add Donation</a> |
        <a href="/donations/">Donation Database</a> |
        <a href="/retrieve">Retrieve Donation</a>
    </nav>
	<h1>Donations</h1>
	<h2>{% block subtitle %} {% endblock subtitle %}</h2>
	{% block content %} {% endblock content %}
</body>
</html>
